/* VEHÍCULOS */
h1 {
    text-align: center;
    font-size: 3em;
    color: #fafafa;
}

/* marca+modelo */
h4 {
    text-align: center;
    font-size: 1em;
    color: #fafafa;
}

img {
    max-width: 100%;
    height: auto;
}

table {
    width: 100%;
    border-collapse: separate;
}
     
td {
    text-align: center;
    font-size: auto;
    color: #e0e0e0;
    border: px solid white;
    padding: 10px;
}

.btn {
    position: relative;
    text-align: center;
    width: 250px;
    padding: 5px;
    font-size: 16px;
    color: #8b8d8d;
    font-family: sans-serif;
    font-weight: 400;
    border: 1px solid #8b8d8d;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 100px;
    transition: 0.5s;
    text-decoration: none;
}

.btn:hover {
   box-shadow: 0 5px 10px 0 #4f5050 inset, 0 5px 10px 0 #4f5050,
   0 5px 10px 0 #4f5050 inset, 0 5px 10px 0 #4f5050;
   text-shadow: 0 0 1px #000000, 0 0 1px #000000;
}


body{
    background:#141414 ;
}

@media screen and (max-width: 1200px) {
	.btn {
		font-size: 14px;
        padding: 1px 1px;
	}
    h1 {
        font-size: 48px;
    }
	h4 {
        position: relative;
		font-size: 14px;
	}
    p {
        font-size: 14px;
    }
}

@media screen and (max-width: 900px) {
	.btn {
		font-size: 12px;
        padding: 1px 1px;
	}
    h1 {
        font-size: 36px;
    }
	h4 {
        position: relative;
		font-size: 12px;
	}
    p {
        font-size: 12px;
    }
}

@media screen and (max-width: 600px) {
	.btn {
		font-size: 8px;
        padding: 1px 1px;
	}
    h1 {
        font-size: 24px;
    }
	h4 {
        position: center;
		font-size: 10px;
	}
    p {
        font-size: 10px;
    }
}

@media screen and (max-width: 400px) {
	.btn {
		font-size: 6px;
        padding: 1px 1px;
	}
    h1 {
        font-size: 16px;
    }
	h4 {
        position: center;
		font-size: 8px;
	}
    p {
        font-size: 8px;
    }
}